

.container {
    border-radius: 1rem;
    background-color: var(--action);
    font-weight: bold;
    color: var(--color);
    padding: 0.7rem;
    box-shadow: var(--item-shadow);
    transition: var(--transition);
    font-size: 1rem;
}

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
}