
.container {
    font-weight: bold;
    letter-spacing: 0.1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container div {
    visibility: hidden;
}

.you {
    font-size: 8rem;
    animation: moveToCenterFromRight 300ms ease forwards;
    animation-delay: 0ms;
}

.need {
    font-size: 8rem;
    animation: moveToCenterFromLeft 300ms ease forwards;
    animation-delay: 500ms;
}

.a {
    font-size: 8rem;
    padding: 1rem;
    animation: moveToCenterFromRight 456ms ease forwards;
    animation-delay: 750ms;
}

.website {
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 0.1ch;
    animation: moveToCenterFromLeft 1000ms cubic-bezier(.07,1.05,0,1) forwards;
    animation-delay: 1500ms;
}

.exchanger {
}

.mark {
    font-size: 100px;
}

.qM {
    animation: moveToCenterFromRight 456ms ease forwards;
    animation-delay: 1750ms;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eM {
    color: var(--red);
    visibility: visible;
    animation: fallInFromGiant 200ms ease-out forwards;
    animation-delay: 3000ms;
    position: absolute;
    top: 0;
}

@keyframes moveToCenterFromRight {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes moveToCenterFromLeft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes fallInFromGiant {
    0% {
        transform: scale(50);
        opacity: 0.1;
    }
    100% {
        visibility: visible;
        transform: scale(1.6) rotate(10deg);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {

    .you {
        font-size: 60px;
    }

    .need {
        font-size: 60px;
    }

    .a {
        font-size: 60px;
    }

    .website {
        font-size: 60px;
    }
}