
.container {
    text-align: center;
}

.hr {
    border: var(--h-border);
    margin: 4rem 2rem 0 2rem;
}

.mainContent {
    padding: 2rem;
    color: var(--text-color);
    font-size: 0.8rem;
}


.links {
    color: var(--action);
    margin-top: 0.5rem;
}

.links a {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 1.2rem;
    height: 0.8rem;
    margin-left: 0.4rem;
}