

.container {
    text-align: center;
    font-size: 20px;
}

.title {
    font-size: 60px;
}

.paragraph {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--text-color);
    margin: 3rem;
    line-height: 1.2;
}

.bigSize {
    margin-bottom: 20rem;
}

.bigSize h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 2rem;
}

.contact {
    font-size: 1rem;
    background-color: var(--action);
    font-weight: 600;
}

.bigSize p {
    padding: 0;
}
